<div id="elm-container"></div>
<script type="text/javascript">
  window.elmFlags = Object.assign({},
    <%= raw @feeds_json %>,
    { user: <%= raw @user_json %> }
  );
</script>
<%= javascript_pack_tag 'feeds' %>
