<!DOCTYPE html>
<html>
  <head>
    <title>CourierGateway</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'main' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
